BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 8
TabWidth: 8
ColumnLimit: 80
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
