/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */
* {
  font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  border: none;
  border-radius: 0px;
}

window#waybar {
  background-color: transparent;
  background: transparent;
  transition-duration: 0.5s;
  opacity: 1;
}

/* -----------------------------------------------------
  Center
 * ----------------------------------------------------- */
#workspaces {
  background: #5908ad;
  margin: 10px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  opacity: 1;
  border: solid;
  border-radius: 20px;
  border-color: #8e11ff;
  border-width: 5px;
}

#workspaces button {
  padding: 0px 5px;
  margin: 4px 3px;
  border-radius: 15px;
  border: 0px;
  color: rgba(112, 10, 220, 0.7);
  min-width: 15px;
  background-color: #700adc;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

#workspaces button.active {
  color: rgba(146, 96, 225, 0);
  background: #9260e1;
  border-radius: 15px;
  min-width: 40px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

#workspaces button:hover {
  color: rgba(114, 14, 212, 0);
  background: rgba(255, 205, 255, 0.7);
  border-radius: 15px;
  opacity: 0.7;
}

/* -----------------------------------------------------
 * Left
 * ----------------------------------------------------- */
#window,
#custom-appmenu,
#user {
  margin: 10px 0px 5px 0px;
  background: #5908ad;
  color: #9260e1;
  font-size: 16px;
  font-weight: bold;
  opacity: 1;
  border-top: solid;
  border-bottom: solid;
  border-color: #8e11ff;
  border-width: 5px;
}

#custom-appmenu {
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px 0px 0px 20px;
  border-left: solid;
  border-color: #8e11ff;
  border-width: 5px;
}

#window {
  border-radius: 0px 20px 20px 0px;
  padding-right: 20px;
  border-right: solid;
  border-color: #8e11ff;
  border-width: 5px;
}

#user {
  padding-right: 20px;
}

/* -----------------------------------------------------
 * Right
 * ----------------------------------------------------- */
#clock,
#network,
#battery {
  margin: 10px 0px 5px 0px;
  padding-right: 10px;
  background: #5908ad;
  color: #9260e1;
  font-size: 16px;
  font-weight: bold;
  border-top: solid;
  border-bottom: solid;
  border-color: #8e11ff;
  border-width: 5px;
}

#clock {
  margin-right: 20px;
  border-radius: 0px 20px 20px 0px;
  border-right: solid;
  border-color: #8e11ff;
  border-width: 5px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */
#battery {
  padding-left: 10px;
  padding-right: 20px;
  border-radius: 20px 0px 0px 20px;
  border-left: solid;
  border-color: #8e11ff;
  border-width: 5px;
}

#battery.charging,
#battery.plugged {
  color: #9260e1;
  background-color: #5908ad;
}

@keyframes blink {
  to {
    background-color: #5908ad;
    color: #ffcdff;
  }
}
#battery.critical:not(.charging) {
  background-color: #5908ad;
  color: #5908ad;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

window#waybar.empty #window {
  background-color: transparent;
}

/*# sourceMappingURL=style.css.map */
