// Import Colors
@import "/home/sleeps/.cache/wal/colors.scss"
/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */
;

* {
  font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial,
    sans-serif;
  border: none;
  border-radius: 0px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.5);
  background: rgba($background, 0.6);
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* -----------------------------------------------------
  Center
 * ----------------------------------------------------- */
#workspaces {
  background: rgba($color14, 0);
  margin: 5px 0px 5px 0px;
  font-weight: bold;
  font-style: normal;
  opacity: 1;
  font-size: 12px;
  color: rgba($color14, 0);
  // color: $background;
}

#workspaces button {
  padding: 0px 5px;
  margin: 4px 3px;
  border-radius: 15px;
  border: 0px;
  color: rgba($color14, 0.7);
  min-width: 20px;
  background-color: rgba($color14, 1);
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

#workspaces button.active {
  color: rgba($color1, 0);
  background: rgba($color1, 1);
  border-radius: 15px;
  min-width: 60px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

#workspaces button:hover {
  color: rgba($color15, 0);
  background: rgba($foreground, 0.7);
  // color: $foreground;
  // background: $foreground;
  border-radius: 15px;
  opacity: 0.7;
}

/* -----------------------------------------------------
 * Left
 * ----------------------------------------------------- */
#window,
#custom-appmenu {
  // background: $color1;
  background: rgba($color1, 0);
  padding: 0px 10px 0px 10px;
  margin: 5px 0px 5px 0px;
  color: $color1;
  font-size: 16px;
  font-weight: bold;
  opacity: 1;
}

#window {
  padding-top: 7px;
}

// #custom-appmenuwlr {
//   padding-bottom: 4px;
// }

/* -----------------------------------------------------
 * Right
 * ----------------------------------------------------- */
#clock,
#network,
#battery,
#custom-exit {
  // background: $color1;
  background: rgba($color1, 0);
  margin: 5px 0px 5px 0px;
  margin-left: 10px;
  color: $color1;
  font-size: 16px;
  font-weight: bold;
  opacity: 1;
}

#clock {
  padding-top: 1px;
}

#custom-exit {
  // border-right: 3px solid $foreground;
  margin-right: 10px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */
#battery {
  padding-left: 10px;
  padding-top: 2px;
}

#battery.charging,
#battery.plugged {
  color: $color1;
  background: rgba($color1, 0);
  // background-color: $color1;
}

@keyframes blink {
  to {
    background-color: $color1;
    color: $foreground;
  }
}

#battery.critical:not(.charging) {
  background-color: $color1;
  color: $color1;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

window#waybar.empty #window {
  background-color: transparent;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

#custom-filemanager {
  background-color: $color1;
  font-size: 16px;
  color: $foreground;
  border-radius: 15px;
  padding: 0px 10px 0px 10px;
  margin: 3px 15px 3px 15px;
  opacity: 0.8;
  border: 3px solid $color10;
}
