// Import Colors
// @import "/home/sleeps/.cache/wal/colors.scss";

@import "/home/sleeps/.cache/hellwal/colors.scss";

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */
* {
  font-family:
    "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  border: none;
  border-radius: 0px;
}

window#waybar {
  background-color: transparent;
  background: transparent;
  transition-duration: 0.5s;
  opacity: 1;
}

/* -----------------------------------------------------
  Center
 * ----------------------------------------------------- */
#workspaces {
  background: rgba($color1, 1);
  margin: 10px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  opacity: 1;
  border: solid;
  border-radius: 20px;
  border-color: $color7;
  border-width: 5px;
}

#workspaces button {
  padding: 0px 5px;
  margin: 4px 3px;
  border-radius: 15px;
  border: 0px;
  color: rgba($color6, 0.7);
  min-width: 15px;
  background-color: rgba($color6, 1);
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

#workspaces button.active {
  color: rgba($color7, 0);
  background: rgba($color7, 1);
  border-radius: 15px;
  min-width: 40px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

#workspaces button:hover {
  color: rgba($color4, 0);
  background: rgba($foreground, 0.7);
  border-radius: 15px;
  opacity: 0.7;
}

/* -----------------------------------------------------
 * Left
 * ----------------------------------------------------- */
#window,
#custom-appmenu,
#user {
  margin: 10px 0px 5px 0px;
  background: $color1;
  color: $color7;
  font-size: 16px;
  font-weight: bold;
  opacity: 1;

  border-top: solid;
  border-bottom: solid;
  border-color: $color7;
  border-width: 5px;
}

#custom-appmenu {
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px 0px 0px 20px;

  border-left: solid;
  border-color: $color7;
  border-width: 5px;
}

#window {
  border-radius: 0px 20px 20px 0px;
  padding-right: 20px;

  border-right: solid;
  border-color: $color7;
  border-width: 5px;
}

#user {
  padding-right: 20px;
}

/* -----------------------------------------------------
 * Right
 * ----------------------------------------------------- */

#pulseaudio,
#clock,
#network,
#battery {
  margin: 10px 0px 5px 0px;
  padding-right: 10px;
  background: $color1;
  color: $color7;
  font-size: 16px;
  font-weight: bold;
  border-top: solid;
  border-bottom: solid;
  border-color: $color7;
  border-width: 5px;
}

/* module offcenter by on pixel vertically */
#network {
  padding-bottom: 1px;
}

/* -----------------------------------------------------
 * Left and right modules for rounding (right modules)
 * ----------------------------------------------------- */
#clock {
  margin-right: 20px;
  border-radius: 0px 20px 20px 0px;
  border-right: solid;
  border-color: $color7;
  border-width: 5px;
}

#battery {
  padding-left: 10px;
  border-radius: 20px 0px 0px 20px;
  border-left: solid;
  border-color: $color7;
  border-width: 5px;
}
