// Import Colors
// @import "/home/sleeps/.cache/wal/colors.scss";

@use "/home/sleeps/.cache/hellwal/colors.scss" as colors;

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */
* {
  font-family:
    "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  border: none;
  border-radius: 0px;
}

window#waybar {
  background: transparent;
  transition-duration: 0.5s;
  opacity: 1;
}

/* -----------------------------------------------------
 * Center
 * ----------------------------------------------------- */
#workspaces {
  background: colors.$color8;
  margin: 10px 5px 5px 5px;
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
  opacity: 1;
  border: solid 5px colors.$color5;
  border-radius: 20px;
}

#workspaces button {
  padding: 0 5px;
  margin: 4px 3px;
  border-radius: 15px;
  border: 0;
  color: colors.$color12;
  min-width: 15px;
  background: colors.$color12;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

#workspaces button.active {
  color: colors.$color5;
  background: colors.$color5;
  border-radius: 15px;
  min-width: 40px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

#workspaces button:hover {
  color: colors.$background;
  background: colors.$foreground;
  border-radius: 15px;
  opacity: 0.7;
}

/* -----------------------------------------------------
 * Left
 * ----------------------------------------------------- */
#window,
#custom-appmenu,
#user {
  margin: 10px 0 5px 0;
  background: colors.$color8;
  color: colors.$color5;
  font-size: 16px;
  font-weight: bold;
  opacity: 1;
  border-top: solid 5px colors.$color5;
  border-bottom: solid 5px colors.$color5;
}

#custom-appmenu {
  margin-left: 20px;
  padding: 0 20px;
  border-radius: 20px 0 0 20px;
  border-left: solid 5px colors.$color5;
}

#window {
  border-radius: 0 20px 20px 0;
  padding-right: 20px;
  border-right: solid 5px colors.$color5;
}

#user {
  padding-right: 20px;
}

/* -----------------------------------------------------
 * Right
 * ----------------------------------------------------- */
#pulseaudio,
#clock,
#network,
#battery {
  margin: 10px 0 5px 0;
  padding-right: 10px;
  background: colors.$color8;
  color: colors.$color5;
  font-size: 16px;
  font-weight: bold;
  border-top: solid 5px colors.$color5;
  border-bottom: solid 5px colors.$color5;
}

#network {
  padding-bottom: 1px;
}

/* -----------------------------------------------------
 * Rounding for right modules
 * ----------------------------------------------------- */
#clock {
  margin-right: 20px;
  border-radius: 0 20px 20px 0;
  border-right: solid 5px colors.$color5;
}

#battery {
  padding-left: 10px;
  border-radius: 20px 0 0 20px;
  border-left: solid 5px colors.$color5;
}
