/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */
* {
  font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  border: none;
  border-radius: 0px;
}

window#waybar {
  background-color: transparent;
  background: transparent;
  transition-duration: 0.5s;
  opacity: 1;
}

/* -----------------------------------------------------
  Center
 * ----------------------------------------------------- */
#workspaces {
  background: #567551;
  margin: 10px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  opacity: 1;
  border: solid;
  border-radius: 20px;
  border-color: #bcb660;
  border-width: 5px;
}

#workspaces button {
  padding: 0px 5px;
  margin: 4px 3px;
  border-radius: 15px;
  border: 0px;
  color: rgba(143, 181, 120, 0.7);
  min-width: 15px;
  background-color: #8fb578;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

#workspaces button.active {
  color: rgba(218, 230, 112, 0);
  background: #dae670;
  border-radius: 15px;
  min-width: 40px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

#workspaces button:hover {
  color: rgba(151, 146, 77, 0);
  background: rgba(255, 255, 229, 0.7);
  border-radius: 15px;
  opacity: 0.7;
}

/* -----------------------------------------------------
 * Left
 * ----------------------------------------------------- */
#window,
#custom-appmenu,
#user {
  margin: 10px 0px 5px 0px;
  background: #567551;
  color: #dae670;
  font-size: 16px;
  font-weight: bold;
  opacity: 1;
  border-top: solid;
  border-bottom: solid;
  border-color: #bcb660;
  border-width: 5px;
}

#custom-appmenu {
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px 0px 0px 20px;
  border-left: solid;
  border-color: #bcb660;
  border-width: 5px;
}

#window {
  border-radius: 0px 20px 20px 0px;
  padding-right: 20px;
  border-right: solid;
  border-color: #bcb660;
  border-width: 5px;
}

#user {
  padding-right: 20px;
}

/* -----------------------------------------------------
 * Right
 * ----------------------------------------------------- */
#pulseaudio,
#clock,
#network,
#battery {
  margin: 10px 0px 5px 0px;
  padding-right: 10px;
  background: #567551;
  color: #dae670;
  font-size: 16px;
  font-weight: bold;
  border-top: solid;
  border-bottom: solid;
  border-color: #bcb660;
  border-width: 5px;
}

/* module offcenter by on pixel vertically */
#network {
  padding-bottom: 1px;
}

/* -----------------------------------------------------
 * Left and right modules for rounding (right modules)
 * ----------------------------------------------------- */
#clock {
  margin-right: 20px;
  border-radius: 0px 20px 20px 0px;
  border-right: solid;
  border-color: #bcb660;
  border-width: 5px;
}

#battery {
  padding-left: 10px;
  border-radius: 20px 0px 0px 20px;
  border-left: solid;
  border-color: #bcb660;
  border-width: 5px;
}

/*# sourceMappingURL=style.css.map */
